/* 전체 스타일 */
.Report-region {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Pretendard-Bold";
}

.Text {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: "Pretendard-ExtraLight";
}

.Title {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  font-family: "Pretendard-Light";
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.Content-title {
  font-size: 30px;
  font-family: "Pretendard-SemiBold";
  margin-top: 40px;
}

.Content-description {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Pretendard-Light";
}

.Back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: #50adce;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 40px auto 0;
  text-decoration: none;
  width: fit-content;
  margin-bottom: 60px;
  margin-top: 70px;
}

.Back:hover {
  background-color: #0278ae;
}

.Back:active {
  transform: translateY(1px);
}

/* 컴포넌트별 스타일 */
.Population {
  background-color: #a5edd7;
  border-radius: 20px;
  padding: 24px;
  grid-column: 1;
  grid-row: 1 / span 2;
  max-width: 600px;
  min-height: 875px;
  box-shadow: 7px 6px 12px -7px #333;
}

.Industry-style {
  background-color: #e7ffc1;
  max-width: 600px;
  min-height: 500px;
  border-radius: 20px;
  padding: 24px;
  grid-column: 2;
  grid-row: 1;
  box-shadow: 7px 6px 12px -7px #333;
}

.Locational {
  background-color: #0479af;
  max-width: 600px;
  min-height: 300px;
  border-radius: 20px;
  color: #fff;
  padding: 24px;
  grid-column: 2;
  grid-row: 2;
  box-shadow: 7px 6px 12px -7px #333;
}

/* 페이지 스타일 */

.Report-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 80px;
}

.Report-grid {
  display: grid;
  grid-template-columns: minmax(300px, 600px) minmax(300px, 600px);
  gap: 24px;
  align-items: start;
  justify-content: center;
}

.Right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 
@media screen and (min-width: 768px) {
} */
