.Report-region {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Pretendard-Bold";
}

.Text {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: "Pretendard-ExtraLight";
}

.Population {
  background-color: #a5edd7;
  border-radius: 20px;
  max-width: 540px;
  min-height: 860px;
  margin-left: 40px;
}

.Title {
  text-align: center;
  padding-top: 30px;
  font-family: "Pretendard-Light";
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.Content-title {
  font-size: 30px;
  font-family: "Pretendard-SemiBold";
  margin-top: 40px;
}

.Content-description {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Pretendard-Light";
}

/* article {
  width: 967px;
  height: 100%;
  min-height: 550px;
  margin: auto;
  background-color: #e7ffc1;
  border-radius: 50px;
} */

/* .Population ol > li {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.Population ul {
  list-style: disc;
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.Population ul > li {
  margin-bottom: 10px;
}

.Population {
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
} */

.Title {
  font-size: 30px;
  font-family: "Pretendard-Light";
}

.Back {
  width: 50%;
  padding: 16px 24px;
  background-color: #50adce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 50px;
  margin-left: 25%;
  text-decoration: none;
}

.Back:hover {
  background-color: #0278ae;
}

.Back:active {
  transform: translateY(1px);
}
/* 
@media screen and (min-width: 768px) {
} */
